Repository fga-eps-mds/2022.2-Amis-Doc, pull requests merged in 2023-02, with the labels that each got.

#133 90 evolucao do prototipo
  docs/Visual/prototipo_alta.md
Labels: documentation, enhancement, DOCS, MDS

#134 (#119) Documentação release 1
  docs/Sprints_Releases/release1.md
  mkdocs.yml
Labels: DOCS, MDS

#131 (#91): Evolução do documento de qualidade
  docs/Arquitetura_Qualidade/qualidade.md
Labels: documentation, DOCS
